In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sb

%matplotlib inline

In [3]:
df = pd.read_csv('1987.csv', delimiter=',',engine='python')

In [4]:
origins = df['Origin'].unique()

In [5]:
len(origins)

237

In [9]:
dest = df['Dest'].unique()

In [10]:
len(dest)
top_50_dest = df['Dest'].value_counts()[:50]
top_50_origin = df['Origin'].value_counts()[:50]
month_wise = df['Month'].value_counts()
month_10 = df[df['Month'] == 10].Dest.value_counts()
month_11 = df[df['Month'] == 11].Dest.value_counts()
month_12 = df[df['Month'] == 12].Dest.value_counts()

In [190]:
top_50_origin[:5]
top_50_dest[:5]
month_wise
month_10
month_11
month_12

ORD    22939
ATL    22504
DFW    17702
LAX    15048
DEN    14923
SFO    11549
STL    11062
EWR    10449
PHX    10223
PIT     9760
DTW     9665
LGA     9649
BOS     8469
CLT     8400
MSP     7975
DCA     7372
IAH     7143
PHL     7000
MEM     6680
MIA     6296
LAS     6295
MCO     5994
SEA     5781
SLC     5560
BWI     5504
CVG     5246
RDU     5155
TPA     5140
SAN     5020
IAD     4945
       ...
HLN       92
SPN       91
UCA       89
APF       88
GFK       84
BLI       84
PHF       84
TVL       78
FCA       62
PIE       61
HDN       61
BTM       59
DRO       58
RDM       58
LIH       56
YKM       56
PSG       54
WRG       53
KOA       51
OTZ       51
OME       50
PFN       46
SCC       35
BET       35
CDV       34
YAK       34
ROR       30
GUC       29
YAP       17
PIH        1
dtype: int64

In [6]:
destAll = df['Dest']

In [7]:
len(destAll)

1311826

In [8]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,741,730,912,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,729,730,903,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,10,17,6,741,730,918,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,10,18,7,729,730,847,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,10,19,1,749,730,922,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [16]:
x=df['Dest'].value_counts()[:50]
print x[:5]

ORD    67830
ATL    66783
DFW    52450
LAX    45597
DEN    44284
dtype: int64

In [14]:
df08 = pd.read_csv('2008.csv', delimiter=',',engine='python')

In [1]:
y=df08['Dest'].value_counts()[:50]
print y[:15]

NameError: name 'df08' is not defined