In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sb

%matplotlib inline

In [2]:
df = pd.read_csv('2008.csv', delimiter=',',engine='python')

In [4]:
origins = df['Origin'].unique()

In [5]:
len(origins)

303

In [6]:
dest = df['Dest'].unique()

In [7]:
len(dest)
top_50_dest = df['Dest'].value_counts()[:50]
top_50_origin = df['Origin'].value_counts()[:50]
month_wise = df['Month'].value_counts()
month_10 = df[df['Month'] == 10].Dest.value_counts()
month_11 = df[df['Month'] == 11].Dest.value_counts()
month_12 = df[df['Month'] == 12].Dest.value_counts()

In [190]:
top_50_origin[:5]

ORD    22939
ATL    22504
DFW    17702
LAX    15048
DEN    14923
SFO    11549
STL    11062
EWR    10449
PHX    10223
PIT     9760
DTW     9665
LGA     9649
BOS     8469
CLT     8400
MSP     7975
DCA     7372
IAH     7143
PHL     7000
MEM     6680
MIA     6296
LAS     6295
MCO     5994
SEA     5781
SLC     5560
BWI     5504
CVG     5246
RDU     5155
TPA     5140
SAN     5020
IAD     4945
       ...
HLN       92
SPN       91
UCA       89
APF       88
GFK       84
BLI       84
PHF       84
TVL       78
FCA       62
PIE       61
HDN       61
BTM       59
DRO       58
RDM       58
LIH       56
YKM       56
PSG       54
WRG       53
KOA       51
OTZ       51
OME       50
PFN       46
SCC       35
BET       35
CDV       34
YAK       34
ROR       30
GUC       29
YAP       17
PIH        1
dtype: int64

In [8]:
top_50_dest[:5]

ATL    414521
ORD    350452
DFW    281401
DEN    241470
LAX    215685
dtype: int64

In [9]:
month_wise

7     627931
3     616090
8     612279
6     608665
5     606293
1     605765
4     598126
2     569236
10    556205
12    544958
9     540908
11    523272
dtype: int64

In [10]:
month_10

ATL    34700
ORD    28834
DFW    22775
DEN    19609
LAX    16925
PHX    15642
IAH    14442
LAS    13934
DTW    12652
SFO    11657
CLT    10770
EWR    10707
SLC    10617
LGA    10075
MSP    10050
MCO     9736
BOS     9433
JFK     9044
SEA     8951
PHL     8555
BWI     8491
SAN     7364
DCA     7274
MDW     7260
CVG     6707
MEM     6654
IAD     5914
TPA     5887
STL     5306
CLE     5143
       ...
CHO       62
YAK       62
WRG       62
LWS       62
BRW       62
GUC       62
BGM       62
PSG       62
CDV       62
ADQ       60
MEI       58
CDC       58
IPL       57
EYW       56
HTS       54
FLO       53
GRK       50
SPI       50
LYH       49
PSE       44
MCN       37
ITH       31
LWB       31
RHI       27
ALO       27
CMX       27
STX       22
SLE       16
ADK        9
BPT        1
dtype: int64

In [11]:
month_11

ATL    33872
ORD    25294
DFW    21022
DEN    18588
LAX    15392
PHX    15002
IAH    13576
LAS    12895
DTW    12038
SFO    10753
MCO    10128
SLC    10095
EWR    10081
CLT     9868
MSP     9465
JFK     9019
BOS     8718
LGA     8436
BWI     8112
SEA     7945
PHL     7831
SAN     6917
DCA     6807
MDW     6609
CVG     6191
MEM     6157
TPA     5982
IAD     5619
FLL     5258
MIA     5109
       ...
BGM       59
SCE       59
EWN       58
WRG       58
YAK       58
GUC       58
PSG       58
CDV       58
BRW       58
SCC       58
BTM       58
CHO       58
LWS       57
IPL       54
PSE       54
CDC       54
MEI       54
CMX       53
LYH       52
FLO       51
HTS       51
ADQ       47
STX       30
ITH       29
SJT       28
RHI       24
ALO       24
ADK        8
PIR        3
LWB        1
dtype: int64

In [12]:
month_12

ATL    33903
ORD    26388
DFW    21924
DEN    19813
LAX    16177
PHX    15638
IAH    14993
LAS    13064
DTW    12409
SFO    11210
SLC    10859
MCO    10654
EWR    10453
CLT    10153
MSP     9799
JFK     9419
BOS     9057
LGA     8779
SEA     8348
BWI     8238
PHL     8103
SAN     7085
DCA     6935
MDW     6580
CVG     6567
MEM     6334
TPA     6332
IAD     5845
FLL     5714
MIA     5340
       ...
SCE       62
BTM       60
PSE       60
BRW       60
EWN       59
PSG       59
LWS       59
WRG       59
SCC       59
BGM       59
YAK       57
IPL       57
CDV       57
MEI       56
CDC       56
HTS       54
CHO       52
ADQ       51
LYH       49
CMX       45
FLO       41
STX       35
ITH       30
RHI       29
TEX       28
ALO       27
SJT       17
PMD       12
ADK        7
PIR        2
dtype: int64