In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sb

%matplotlib inline

In [2]:
df = pd.read_csv('1987.csv', delimiter=',',engine='python')
df[:5]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,741,730,912,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,729,730,903,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,10,17,6,741,730,918,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,10,18,7,729,730,847,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,10,19,1,749,730,922,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [3]:
new_df = df[['Year','Dest','Origin']]

In [4]:
pd.unique(new_df.values.ravel())

array([1987, 'SFO', 'SAN', 'RNO', 'OAK', 'BUR', 'LAX', 'PHX', 'PDX', 'SJC',
       'LAS', 'SNA', 'SMF', 'ABQ', 'GEG', 'SCK', 'MFR', 'MRY', 'TUS',
       'EUG', 'SEA', 'RDM', 'FAT', 'LGB', 'ONT', 'CCR', 'BLI', 'YKM',
       'PSC', 'STL', 'JFK', 'HNL', 'MIA', 'SJU', 'DEN', 'DAY', 'CVG',
       'DCA', 'ORF', 'DTW', 'TUL', 'SYR', 'LGA', 'BOS', 'PHL', 'TPA',
       'ORD', 'MCO', 'CLE', 'COS', 'MKE', 'IAD', 'CMH', 'EWR', 'PIT',
       'IND', 'HOU', 'SAT', 'MCI', 'OKC', 'FLL', 'BNA', 'DFW', 'BWI',
       'BDL', 'LIT', 'ICT', 'SLC', 'SDF', 'IAH', 'JAX', 'PSP', 'ANC',
       'MSY', 'OMA', 'SRQ', 'RSW', 'PBI', 'ATL', 'MDW', 'AUS', 'MSP',
       'MDT', 'MLI', 'MSN', 'CLT', 'FSD', 'DSM', 'RDU', 'LEX', 'PIA',
       'MEM', 'SGF', 'CMI', 'CID', 'SUX', 'LNK', 'TOL', 'RST', 'ALO',
       'OGG', 'FAI', 'KOA', 'ROC', 'MBS', 'LIH', 'SBA', 'BUF', 'ALB',
       'ISP', 'PVD', 'GSO', 'GRR', 'BIL', 'HSV', 'BHM', 'SAV', 'CAE',
       'FOE', 'MHT', 'ELP', 'TYS', 'JAN', 'BFL', 'BTV', 'PWM', 'BGR',
       'ABE', 'BOI', 'ILM', 'CAK', 'GTF', 'CPR', 'RIC', 'FAR', 'RAP',
       'CHS', 'CRW', 'HPN', 'ILG', 'RDD', 'ACV', 'LMT', 'DAL', 'HRL',
       'LBB', 'AMA', 'CRP', 'MAF', 'TLH', 'MLB', 'PNS', 'GSP', 'MOB',
       'AVP', 'DAB', 'GNV', 'STT', 'STX', 'EVV', 'YUM', 'PUB', 'GJT',
       'DRO', 'GCN', 'FLG', 'DLH', 'AZO', 'GRB', 'ERI', 'FWA', 'MGM',
       'BIS', 'MOT', 'SBN', 'GFK', 'VPS', 'LSE', 'BZN', 'EAU', 'CWA',
       'ATW', 'BTR', 'SHV', 'LAN', 'MSO', 'CHA', 'GPT', 'PFN', 'AVL',
       'ROA', 'FAY', 'OAJ', 'HTS', 'TRI', 'FNT', 'LYH', 'MYR', 'ISO',
       'AGS', 'CHO', 'ORH', 'EYW', 'UCA', 'BGM', 'APF', 'ITH', 'ELM',
       'LFT', 'ROR', 'GUM', 'YAP', 'SPN', 'MFE', 'MLU', 'CSG', 'HLN',
       'FCA', 'JAC', 'IDA', 'JNU', 'BTM', 'PIE', 'TVL', 'PHF', 'BET',
       'OME', 'OTZ', 'SCC', 'KTN', 'CDV', 'YAK', 'SIT', 'PSG', 'WRG',
       'GUC', 'HDN', 'PIR', 'PIH'], dtype=object)

In [5]:
#new_df.drop_duplicates('Dest', inplace = True)

In [6]:
new_df

         Year Dest Origin
0        1987  SFO    SAN
1        1987  SFO    SAN
2        1987  SFO    SAN
3        1987  SFO    SAN
4        1987  SFO    SAN
5        1987  SFO    SAN
6        1987  SFO    SAN
7        1987  SFO    SAN
8        1987  SFO    SAN
9        1987  SFO    SAN
10       1987  SFO    SAN
11       1987  SFO    SAN
12       1987  SFO    SAN
13       1987  SFO    SAN
14       1987  RNO    SFO
15       1987  RNO    SFO
16       1987  RNO    SFO
17       1987  RNO    SFO
18       1987  RNO    SFO
19       1987  RNO    SFO
20       1987  RNO    SFO
21       1987  RNO    SFO
22       1987  RNO    SFO
23       1987  RNO    SFO
24       1987  RNO    SFO
25       1987  RNO    SFO
26       1987  RNO    SFO
27       1987  RNO    SFO
28       1987  RNO    SFO
29       1987  RNO    SFO
...       ...  ...    ...
1311796  1987  ORD    EWR
1311797  1987  ORD    EWR
1311798  1987  ORD    EWR
1311799  1987  ORD    EWR
1311800  1987  ORD    EWR
1311801  1987  ORD    EWR
1311802  1987  ORD    EWR
1311803  1987  ORD    EWR
1311804  1987  ORD    EWR
1311805  1987  ORD    EWR
1311806  1987  ORD    EWR
1311807  1987  ORD    EWR
1311808  1987  ORD    EWR
1311809  1987  ORD    EWR
1311810  1987  ORD    EWR
1311811  1987  ORD    EWR
1311812  1987  EWR    ORD
1311813  1987  EWR    ORD
1311814  1987  EWR    ORD
1311815  1987  EWR    ORD
1311816  1987  EWR    ORD
1311817  1987  EWR    ORD
1311818  1987  EWR    ORD
1311819  1987  EWR    ORD
1311820  1987  EWR    ORD
1311821  1987  EWR    ORD
1311822  1987  EWR    ORD
1311823  1987  EWR    ORD
1311824  1987  EWR    BOS
1311825  1987  EWR    BOS

[1311826 rows x 3 columns]

In [7]:
df97 = pd.read_csv('1997.csv', delimiter=',',engine='python')
new_df97 = df97[['Year','Dest','Origin']]
new_df97.drop_duplicates('Dest', inplace = True)
new_df97

/Users/aramamurthy/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/pandas/util/decorators.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return func(*args, **kwargs)

         Year Dest Origin
0        1997  PHX    ABQ
13585    1997  PIT    ABE
23873    1997  PNS    ATL
24365    1997  PSC    GEG
24489    1997  PSG    JNU
24551    1997  PSP    DEN
24915    1997  PVD    ATL
26617    1997  PWM    ALB
27170    1997  RAP    MSP
27237    1997  RDU    ATL
29543    1997  RIC    ATL
30893    1997  RNO    BOI
33190    1997  ROA    CLT
33438    1997  ROC    ATL
34785    1997  RST    MSP
35078    1997  RSW    ATL
36663    1997  SAN    ABQ
42415    1997  SAT    ATL
45711    1997  SAV    AGS
46176    1997  SBA    SFO
46293    1997  SBN    CVG
46595    1997  SCC    ANC
46626    1997  SDF    ATL
48787    1997  SEA    ANC
56429    1997  SFO    ABQ
67878    1997  SGF    STL
68020    1997  SHV    ATL
68352    1997  SIT    JNU
68445    1997  SJC    AUS
72456    1997  SJU    ATL
...       ...  ...    ...
393053   1997  BRW    FAI
393135   1997  BTR    ATL
393532   1997  BTV    ORD
393786   1997  BUF    ATL
395329   1997  BUR    DEN
397849   1997  BWI    ATL
403258   1997  BZN    BIL
403453   1997  CAE    ATL
403967   1997  CAK    MCO
404056   1997  CDV    ANC
404118   1997  CHA    CLT
404238   1997  CHS    ATL
404858   1997  CID    DEN
405307   1997  CLE    ATL
410831   1997  CLT    ABE
422128   1997  CMH    ATL
425743   1997  COS    ABQ
427151   1997  CRP    HOU
427468   1997  CRW    PIT
427615   1997  CVG    ABE
435071   1997  DAB    ATL
435412   1997  DAL    ABQ
439493   1997  DAY    ATL
440613   1997  DCA    ALB
447559   1997  DEN    ABQ
1459014  1997  LWB    LGA
1703839  1997  BFL    DFW
2523154  1997  GST    JNU
3156178  1997  ACK    EWR
5242916  1997  GUM    HNL

[206 rows x 3 columns]

In [8]:
df08 = pd.read_csv('2008.csv', delimiter=',',engine='python')

In [9]:
new_df08 = df08[['Year','Dest','Origin']]
new_df08.drop_duplicates('Dest', inplace = True)
new_df08

         Year Dest Origin
0        2008  TPA    IAD
2        2008  BWI    IND
5        2008  JAX    IND
6        2008  LAS    IND
8        2008  MCI    IND
10       2008  MCO    IND
12       2008  MDW    IND
16       2008  PHX    IND
26       2008  FLL    ISP
40       2008  PBI    ISP
43       2008  RSW    ISP
49       2008  HOU    JAN
56       2008  BHM    JAX
57       2008  BNA    JAX
71       2008  IND    JAX
72       2008  ORF    JAX
74       2008  PHL    JAX
79       2008  ABQ    LAS
86       2008  ALB    LAS
87       2008  AMA    LAS
88       2008  AUS    LAS
91       2008  BDL    LAS
97       2008  BOI    LAS
99       2008  BUF    LAS
100      2008  BUR    LAS
116      2008  CLE    LAS
117      2008  CMH    LAS
119      2008  DEN    LAS
126      2008  ELP    LAS
128      2008  GEG    LAS
...       ...  ...    ...
533778   2008  WRG    KTN
533783   2008  PSG    WRG
533797   2008  CDV    ANC
533800   2008  BET    ANC
533803   2008  OTZ    OME
533808   2008  YAK    JNU
533811   2008  OME    OTZ
533817   2008  ADQ    ANC
533820   2008  BRW    FAI
533826   2008  SCC    ANC
534642   2008  ADK    ANC
546438   2008  PSE    FLL
546491   2008  BQN    JFK
1327756  2008  GCC    DEN
1327774  2008  RKS    DEN
1395711  2008  CYS    SLC
1960668  2008  MKG    MKE
2324382  2008  AKN    ANC
2324400  2008  DLG    AKN
2721663  2008  LWB    ATL
2943290  2008  ACK    JFK
3174726  2008  WYS    SLC
3460312  2008  INL    MSP
3462840  2008  BJI    MSP
3527721  2008  GST    JNU
3790988  2008  LMT    SFO
3790998  2008  OTH    SFO
4694434  2008  ITH    DTW
5524604  2008  HTS    CVG
6348853  2008  PIR    MSP

[304 rows x 3 columns]

In [10]:
nw = df.groupby(['Year','Dest', 'Origin']).size()
nw.sort()
nw

Year  Dest  Origin
1987  LGB   LAS          1
      LAS   LAS          1
      SBA   IAH          1
      ALB   SYR          1
      JFK   JFK          1
      PHX   PHX          1
      LGA   LGA          1
      MOB   BHM          1
      LAS   CID          1
      PIE   MCO          1
      SGF   PSP          1
      ALB   BOS          1
      PHX   CID          1
            MLI          1
      CHA   ORF          1
      FLL   FLL          1
      ORD   MDW          1
      EWR   PIR          1
      SYR   DAY          1
      LAX   BUR          1
      PIH   DEN          1
      LNK   MDW          1
      TPA   PIE          1
      CPR   LAX          1
      COS   SUX          1
      DSM   LAS          1
      SRQ   TPA          1
      BOS   ALB          1
      PIT   CAK          1
      PHL   MDT          1
                      ...
      IAH   DFW       2188
      BOS   EWR       2202
      MSP   ORD       2212
      ORD   ATL       2222
            MSP       2278
      EWR   BOS       2282
      PDX   SEA       2296
      SAN   LAX       2354
      LAX   SAN       2388
      LGA   ORD       2434
      ORD   LGA       2458
      HOU   DAL       2524
      SEA   PDX       2525
      DAL   HOU       2589
      LGA   DCA       2625
      DCA   LGA       2643
      PHX   LAS       2653
      LGA   BOS       2775
      LAS   PHX       2776
      EWR   ORD       2933
      ORD   EWR       2938
      BOS   LGA       3024
      LAX   SJC       3255
      LAS   LAX       3274
      SJC   LAX       3302
      LAX   LAS       3334
            PHX       3780
      PHX   LAX       3807
      SFO   LAX       5782
      LAX   SFO       5956
dtype: int64

In [11]:
nw97 = df97.groupby(['Year','Dest', 'Origin']).size()
nw97.sort()
nw97

Year  Dest  Origin
1997  CMH   SDF           1
      JAX   MCO           1
      BDL   PVD           1
      IAD   DCA           1
            BWI           1
      HRL   DFW           1
      ALB   SWF           1
      HNL   SAN           1
      BWI   DCA           1
      BDL   BOS           1
      LAX   ONT           1
      LGA   JFK           1
      SWF   BOS           1
      LGB   LAS           1
      OAK   SFO           1
      GUM   HNL           1
      BDL   ALB           1
      SFO   SMF           1
      FAT   LAX           1
      EWR   PHL           1
      SFO   SJC           1
      CHS   SAV           1
      STL   HSV           1
      CID   MLI           1
      PHL   LFT           1
      SNA   LAX           1
      EWR   JFK           2
      LWB   PIT           2
      MIA   RSW           2
      EWR   MTJ           2
                      ...
      ORD   ATL       10204
      DCA   ORD       10410
      ORD   DCA       10417
            PHL       10423
      DFW   ATL       10609
      ORD   DFW       10729
      ATL   DFW       10910
      BOS   ORD       11165
      ORD   BOS       11218
      HOU   DAL       11263
      LGA   ORD       11433
      DFW   ORD       11446
      PHX   LAS       11833
      ORD   LAX       11853
            LGA       12016
      DAL   HOU       12130
      EWR   ORD       12227
      LAS   PHX       12467
      ORD   EWR       12585
      OAK   LAX       12625
      LAX   OAK       12686
            ORD       12743
      MSP   ORD       13364
      ORD   MSP       13642
      LAX   PHX       15490
      PHX   LAX       15630
      LAS   LAX       16667
      LAX   LAS       16860
            SFO       17217
      SFO   LAX       17262
dtype: int64

In [12]:
nw08 = df08.groupby(['Year','Dest', 'Origin']).size()
nw08.sort()
nw08

Year  Dest  Origin
2008  SGF   XNA           1
      PLN   DCA           1
      PMD   BUR           1
      SMF   OAK           1
      PSP   BUR           1
            IYK           1
      HDN   GJT           1
      PSP   OXR           1
            SGU           1
            TUS           1
      DEN   GRB           1
      RDD   MFR           1
            SMF           1
      TPA   MCO           1
      RDM   EUG           1
      DEN   BTR           1
      RDM   GEG           1
            MFR           1
      GTF   GRB           1
      RDU   ILM           1
      GTF   BIL           1
      BNA   CRW           1
      GJT   YUM           1
      PIT   ERI           1
      GRB   BDL           1
            CMH           1
            EWR           1
            FSD           1
            OMA           1
      SYR   CMH           1
                      ...
      ORD   MSP        9356
      ATL   MCO        9611
      MCO   ATL        9613
      MSP   ORD        9688
      DAL   HOU        9766
      HOU   DAL        9790
      DFW   ATL        9847
      ATL   DFW        9849
      PHX   LAX        9897
      LAX   PHX        9992
      LAS   PHX       10337
      HNL   LIH       10407
      LGA   ATL       10506
      ATL   LGA       10507
      PHX   LAS       10626
      LIH   HNL       10769
      LGA   ORD       10770
      ORD   LGA       10862
      DCA   LGA       11063
      LGA   DCA       11102
      LAX   SAN       11224
      SAN   LAX       11257
      LAX   LAS       11729
      LAS   LAX       11773
      OGG   HNL       12014
      LGA   BOS       12029
      BOS   LGA       12035
      HNL   OGG       12383
      SFO   LAX       13390
      LAX   SFO       13788
dtype: int64

In [13]:
frames = [nw, nw97, nw08]
result = pd.concat(frames)
result

Year  Dest  Origin
1987  LGB   LAS           1
      LAS   LAS           1
      SBA   IAH           1
      ALB   SYR           1
      JFK   JFK           1
      PHX   PHX           1
      LGA   LGA           1
      MOB   BHM           1
      LAS   CID           1
      PIE   MCO           1
      SGF   PSP           1
      ALB   BOS           1
      PHX   CID           1
            MLI           1
      CHA   ORF           1
      FLL   FLL           1
      ORD   MDW           1
      EWR   PIR           1
      SYR   DAY           1
      LAX   BUR           1
      PIH   DEN           1
      LNK   MDW           1
      TPA   PIE           1
      CPR   LAX           1
      COS   SUX           1
      DSM   LAS           1
      SRQ   TPA           1
      BOS   ALB           1
      PIT   CAK           1
      PHL   MDT           1
                      ...
2008  ORD   MSP        9356
      ATL   MCO        9611
      MCO   ATL        9613
      MSP   ORD        9688
      DAL   HOU        9766
      HOU   DAL        9790
      DFW   ATL        9847
      ATL   DFW        9849
      PHX   LAX        9897
      LAX   PHX        9992
      LAS   PHX       10337
      HNL   LIH       10407
      LGA   ATL       10506
      ATL   LGA       10507
      PHX   LAS       10626
      LIH   HNL       10769
      LGA   ORD       10770
      ORD   LGA       10862
      DCA   LGA       11063
      LGA   DCA       11102
      LAX   SAN       11224
      SAN   LAX       11257
      LAX   LAS       11729
      LAS   LAX       11773
      OGG   HNL       12014
      LGA   BOS       12029
      BOS   LGA       12035
      HNL   OGG       12383
      SFO   LAX       13390
      LAX   SFO       13788
dtype: int64

In [14]:
ll_df = pd.read_csv('codes.csv', delimiter=',',engine='python')
ll_df
#df['color'] = np.where(df['Set']=='Z', 'green', 'red')

      locationID  Latitude  Longitude
0            ADK   51.8781   176.6461
1            AKK   56.9386   154.1825
2            Z13   60.9047   161.4225
3            AKI   60.9028   161.2306
4            AUK   62.6800   164.6600
5            5A8   59.2825   158.6178
6           4AK7   59.2808   158.5972
7            Z25   59.2631   158.5578
8            6A8   66.5519   152.6222
9            AFM   67.1064   157.8575
10          AK80   65.1017   151.1775
11           AKP   68.1336   151.7433
12          AK00   59.7967   151.8633
13          00AK   59.8561   151.6964
14           A13   61.3414   148.9989
15           CSR   61.1586   149.7806
16           EDF   61.2514   149.8064
17          6AK5   61.1683   150.1606
18          AK12   61.1067   149.8642
19           Z41   61.1869   149.9653
20           MRI   61.2136   149.8444
21          AA05   61.5078   149.0783
22          AA06   61.2897   149.8061
23          9AK5   61.1164   149.8189
24           ANC   61.1744   149.9964
25           ANI   61.5817   159.5431
26           ANN   55.0425   131.5722
27           ANV   62.6467   160.1906
28           ARC   68.1147   145.5794
29           AKA   52.2203   174.2064
...          ...       ...        ...
13399        82V   41.1533   104.1303
13400        PNA   42.7975   109.8111
13401       WY36   44.7903   108.7342
13402       WY15   44.6897   108.6786
13403        POY   44.8672   108.7933
13404        RWL   41.8056   107.2000
13405        RIW   43.0642   108.4597
13406       WY41   41.0667   109.0894
13407        RKS   41.5942   109.0653
13408       22WY   44.3381   105.1622
13409       96WY   41.4092   106.5925
13410        SAA   41.4450   106.8236
13411       WY22   43.9500   105.9339
13412        SHR   44.7692   106.9803
13413       WY37   44.8408   106.8233
13414        49U   43.2514   108.1214
13415       WY55   44.4186   104.5936
13416       WY23   44.0733   106.2658
13417       WY38   43.6236   107.4075
13418       WY00   43.9678   107.3794
13419       WY64   42.9575   110.9828
13420       WY39   42.9694   110.9658
13421        THP   43.6583   108.2131
13422        TOR   42.0644   104.1528
13423        83V   44.0906   104.6408
13424       WY61   42.8681   107.4894
13425        EAN   42.0556   104.9286
13426       WY25   42.3069   104.9367
13427       WY59   41.9331   105.0850
13428        WRL   43.9658   107.9508

[13429 rows x 3 columns]

In [15]:
ll_df[ll_df['locationID' ] == 'SAN']
listloc = [{},{},]
listloc = ll_df.values
listloc[2][0]
df['Dest'][677]

'SNA'

In [16]:
#take only unique airports
somecol = df[['Dest','Origin']]
uniquedf = somecol.drop_duplicates('Dest', inplace = False)
uniquedf = uniquedf.reset_index()
uniquedf.drop('index', axis=1, inplace=True)
uniquedf

    Dest Origin
0    SFO    SAN
1    RNO    SFO
2    OAK    BUR
3    BUR    OAK
4    LAX    PHX
5    PDX    SFO
6    SAN    SFO
7    LAS    SAN
8    SNA    OAK
9    SJC    LAX
10   ABQ    LAX
11   GEG    SFO
12   SCK    SFO
13   PHX    LAX
14   SMF    BUR
15   RDM    MFR
16   SEA    SFO
17   FAT    LAX
18   TUS    LAX
19   LGB    SFO
20   ONT    SFO
21   CCR    LAX
22   BLI    SEA
23   EUG    SFO
24   MRY    LAX
25   YKM    PSC
26   PSC    SFO
27   MFR    SFO
28   STL    JFK
29   HNL    STL
..   ...    ...
207  LFT    IAH
208  ROR    GUM
209  YAP    GUM
210  SPN    GUM
211  GUM    ROR
212  MFE    IAH
213  MLU    SHV
214  CSG    ATL
215  HLN    FCA
216  FCA    HLN
217  JAC    IDA
218  IDA    SLC
219  JNU    SEA
220  BTM    BZN
221  PIE    RDU
222  TVL    SJC
223  PHF    PIT
224  BET    ANC
225  OME    ANC
226  OTZ    OME
227  SCC    ANC
228  KTN    JNU
229  YAK    JNU
230  CDV    YAK
231  SIT    JNU
232  PSG    JNU
233  WRG    PSG
234  GUC    ORD
235  HDN    MSP
236  PIH    DEN

[237 rows x 2 columns]

In [17]:
inst = [{'Dest':'BLR','Origin':'BLR','Olat':0.000000,'Olong':0.000000,'Dlat':0.000000,'Dlong':0.000000}]
nwdf= pd.DataFrame(inst)
nwdf
uniquedf['Dest'][1]

'RNO'

In [18]:
for i in range(0,len(listloc)):
    for j in range(0,len(uniquedf)):
        #print listloc[i]
        if uniquedf['Dest'][j] == listloc[i][0]:
            nwdf['Dest'][j]= uniquedf['Dest'][j]
            nwdf['Origin'][j] = uniquedf['Origin'][j]
            nwdf['Dlat'][j] = listloc[i][1]
            nwdf['Dlong'] [j] = listloc[i][2]
nwdf

/Users/aramamurthy/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/IPython/kernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/aramamurthy/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/aramamurthy/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/IPython/kernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/aramamurthy/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/IPython/kernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  Dest  Dlat  Dlong  Olat  Olong Origin
0  BLR     0      0     0      0    BLR